@model praktika.Models.Worker
@{
    ViewBag.Title = "Добавить сотрудника";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Фамилия</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Patronymic" class="control-label">Отчество</label>
        <input type="text" asp-for="Patronymic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ServiceNumber" class="control-label">Табельный номер</label>
        <input type="number" asp-for="ServiceNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Post" class="control-label">Должность</label>
        <input type="text" asp-for="Post" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Department" class="control-label">Отдел</label>
        <input type="text" asp-for="Department" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Номер телефона</label>
        <input type="tel" asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateHiring" class="control-label">Дата приема на работу</label>
        <input type="date" asp-for="DateHiring" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Пол</label>
        <input type="number" asp-for="Gender" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
