@model IEnumerable<praktika.Models.Post>

@{
    ViewData["Title"] = "Должности";
}

<h1 text align="center">Должности</h1><br />

<div align="left">

    @using(Html.BeginForm("Export", "Posts", FormMethod.Post))
{
<input type="submit" value="Отчет" />
}
</div>

<p>
    <a href="Create" class="btn btn-light btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="Добавить должность" >+</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post1)
            </td>
            <td>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Posts/Edit/@item.IdPost">Изменить</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Posts/Details/@item.IdPost">Детали</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Posts/Delete/@item.IdPost">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
