@model praktika.Models.Vacation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vacation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVacation" />
            <div class="form-group">
                <label asp-for="IdApplication" class="control-label"></label>
                <select asp-for="IdApplication" class="form-control" asp-items="ViewBag.IdApplication"></select>
                <span asp-validation-for="IdApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdWorker" class="control-label"></label>
                <input asp-for="IdWorker" class="form-control" />
                <span asp-validation-for="IdWorker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVacationReal" class="control-label"></label>
                <input asp-for="DataVacationReal" class="form-control" />
                <span asp-validation-for="DataVacationReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationCountReal" class="control-label"></label>
                <input asp-for="VacationCountReal" class="form-control" />
                <span asp-validation-for="VacationCountReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClassificationVacation" class="control-label"></label>
                <input asp-for="IdClassificationVacation" class="form-control" />
                <span asp-validation-for="IdClassificationVacation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
